   /* About Section Style another page by (eng fuad ) start here  */
  .about-9{
    height: 90vh;
    background-color: #222831;
    width: 100%;
    padding: 50px 0;
    margin-bottom: 10%;
    margin-top : 20%;
  }
    .about-section {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
      gap: 50px;
      max-width: 1200px;
      margin: auto;
    }
    .about-section img {
      width: 300px;
      max-width: 100%;
      border-radius: 10px;
     
      
    }
    .about-content {
      max-width: 500px;
      color: white;
    }
    .about-content h2 {
      font-family: 'Brush Script MT', cursive;
      font-size: 36px;
      margin-bottom: 20px;
    }
    .about-content p {
      font-size: 16px;
      line-height: 1.6;
      color: #ccc;
    }
    .about-content button {
      margin-top: 20px;
      background-color: orange;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 25px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
    }
    .about-content button:hover {
      background-color: darkorange;
    }

